/- vote_text = current_user&.voted_for?(@post) ? "Дизлайк" : "Лайк"
/= link_to vote_text, like_post_path(@post), method: :put, remote: :true

= link_to like_post_path(post), method: :put, remote: true, id: "like-link-#{post.id}", class: 'btn' do
  - if current_user.voted_up_on?(post)
    .text-success.fa.fa-thumbs-up
    %b= post.cached_votes_score
    .text-secondary.fa.fa-thumbs-down
  - elsif current_user.voted_down_on?(post)
    .text-secondary.fa.fa-thumbs-up
    %b= post.cached_votes_score
    .text-danger.fa.fa-thumbs-down
  - else
    .text-secondary.fa.fa-thumbs-up
    %b= post.cached_votes_score
    .text-secondary.fa.fa-thumbs-down
