.card
  .card-header
    = link_to post.title, post
    /= post.title
  .card-body
    = post.content
  .card-footer
    %small
      = post.created_at.strftime('%H:%M, %d.%m.%y')
      .float-right
        - if post.user.image?
          = image_tag post.user.image, size: '30x30', alt: "#{post.user.username}", class: 'rounded-circle'
        = post.user.username

  .card-footer.text-center
    - if current_user
      = content_tag "div", id: "like-link-#{post.id}" do
        = render 'posts/like_link', post: post
    - else
      %b= post.cached_votes_score
    /= content_tag "div", id: "like-count-#{post.id}" do
    /  = render 'posts/like_count', post: post
    /%hr
    /- if current_user
    /  - if current_user.voted_up_on? post
    /    = render 'unfavorite_link', post: post
    /  - elsif current_user.voted_down_on? post
    /    = render 'favorite_link', post: post
    /  - else
    /    = render 'not_voted', post: post
    /  = content_tag "div", id: "like-count-#{post.id}" do
    /    = render 'posts/like_count', post: post

  - if post.tags.any?
    .card-footer
      - post.tags.each do |tag|
        .badge.badge-info
          = tag.name


  - if current_user
    - if post.user == current_user
      .card-footer.text-center
        /= link_to 'Показать', post
        /= link_to 'Редактировать', edit_post_path(post)
        .btn-group
          = link_to edit_post_path(post), class: 'btn btn-sm btn-warning' do
            .fa.fa-edit
            Редактировать
          = link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
            .fa.fa-trash
            Удалить

%p